.productlist{
    text-align: center;
    margin-top: 50px;
    margin: 0;
}

.productlist ul li{
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}

.productlist ul {
    margin: 0;
}